body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

header{
    background:#1e293b;
    padding:20px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    font-size:18px;
    margin:10px;
}

button:hover{
    background:#1d4ed8;
}